{% extends 'main.html' %}


{% block content %}
    <div>
        
        {% if page == 'login' %}
            
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <!-- {{form.as_p}} -->
    
                <label for="">Username:</label>
                <input type="text" name="username" placeholder="Enter Username">
    
                <label for="">Password:</label>
                <input type="password" name="password" placeholder="Enter Password">
    
                <input type="submit" value="Login">
            </form>
        </div>

        
        <div>
            <p>Create Account</p>
            <a href="{% url 'register' %}">Sign up</a>
        </div>

        {% else %}

        <!-- This form for registertion -->
        <div>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Sign up">
                </form>
            </div>

            <div>
                <p>Have Account</p>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}
    